Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
!Xft.dpi: 96
XTerm.termName: xterm-256color
XTerm.vt100.locale: true
XTerm.vt100.selectToClipboard: true
Xcursor*theme: Adwaita

rofi.color-enabled: true
rofi.color-window: #2f343f, #2f343f, #2f343f
rofi.color-normal: #2f343f, #d8dee8, #2f343f, #2f343f, #bf616a
rofi.color-active: #2f343f, #b48ead, #2f343f, #2f343f, #93e5cc
rofi.color-urgent: #2f343f, #ebcb8b, #2f343f, #2f343f, #ebcb8b 

URxvt.scrollBar: false
URxvt.depth: 32
!URxvt.letterSpace: -1

URxvt.font: xft:Iosevka Term SS01:style=medium:size=11
URxvt.boldFont: xft:Iosevka Term SS01:style=bold:size=11
URxvt.italicFont: xft:Iosevka Term SS01:style=italic:size=11
URxvt.boldItalicFont: xft:Iosevka Term SS01:style=medium:size=11

! special
*.foreground:   #e0e0e0
*.background:   #1e1e1e
*.cursorColor:  #e0e0e0

! black
*.color0:       #616161
*.color8:       #757575

! red
*.color1:       #f06292
*.color9:       #f48fb1

! green
*.color2:       #00c3df
*.color10:      #c8dbed

! yellow
*.color3:       #b2ffc1
*.color11:      #e0fff2

! blue
*.color4:       #00c6b4
*.color12:      #b2dfdb

! magenta
*.color5:       #ce93d8
*.color13:      #e1bee7

! cyan
*.color6:       #80deea
*.color14:      #b2ebf2

! white
*.color7:       #bdbdbd
*.color15: #e0e0e0
